$primary-color: #0083b0;
$secondary-color: #fd292f;
$third-color: #b20000;
$white-color: #ffff;
$primary-light: rgba(0, 132, 176, 0.037);
$primary-color-shadow: rgba(0, 131, 176, 0.1);
$black-shade: #3c3c3c;
