@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
:root {
  --primary-color: #f09819;
  --secondary-color: #fd292f;
  --third-color: #b20000;
  --primary-color-light: #edde5d;
  --primary-grad: linear-gradient(
    90deg,
    rgba(240, 152, 25, 1) 20%,
    rgba(237, 222, 93, 1) 87%
  );
  --white-color: #ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
body {
  background: var(--primary-grad);
}
